body {
    background: linear-gradient(darkred, black);
    height: 100vh;
    margin: 0;
}


#name {
    text-align: center;
    font-size: 80px;
    padding-top: 140px;
    color: tomato;
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin-top: -300px; /* Moves it up by 300 pixels */
}

.socials a {
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.aboutme a:hover {
    background-color: grey;
    color: palevioletred;
    border-color: palevioletred;
}
